In [1]:
import pandas as pd

train = pd.read_csv("../data/raw/train.csv", nrows=1000)  # sadece 1000 satır oku
test = pd.read_csv("../data/raw/test.csv", nrows=1000)

print("Train shape:", train.shape)
print("Test shape:", test.shape)
train.head()

Train shape: (1000, 2)
Test shape: (1000, 2)

                                             address  label
0  Akarca Mah. Adnan Menderes Cad. 864.Sok. No:15...   8831
1  Cumhuriye Mah. Hükümet Cad. Sivriler İşhanı No...   8810
2  İsmet inönü mahallesi 2001 sokak no:2 Çeşme be...   3067
3  Gazeteci Hasan Tahsin Caddesi, No:10/3,  Gizem...   8210
4  Bitez mahallesi Adnan Menderes caddesi gündonu...   9675

In [2]:
print("Train shape:", train.shape)
print("Test shape:", test.shape)
print("Sütunlar:", train.columns.tolist())

Train shape: (1000, 2)
Test shape: (1000, 2)
Sütunlar: ['address', 'label']

In [3]:
print("\nBoş değer yüzdeleri (Train):")
print(train.isna().mean() * 100)

print("\nBoş değer yüzdeleri (Test):")
print(test.isna().mean() * 100)

Boş değer yüzdeleri (Train):
address    0.0
label      0.0
dtype: float64

Boş değer yüzdeleri (Test):
id         0.0
address    0.0
dtype: float64

In [4]:
print("\nBenzersiz label sayısı:", train['label'].nunique())
print("Toplam satır:", len(train))
print("Ortalama tekrar:", len(train) / train['label'].nunique())

Benzersiz label sayısı: 944
Toplam satır: 1000
Ortalama tekrar: 1.0593220338983051

In [5]:
train.sample(5, random_state=42)

                                               address  label
521               Adnan Menderes Mh 134 Sokak no 14 /2   7730
737    Taşyaka mahallesi sanayi sitesi 253 sokak no 54   8839
740  SARIGERME MAHALLESİ Dönmezler cad. 2050 sok. N...   9064
660  306/2 sk. No:22 d:12 k:3 Şirinyer Buca İzmir E...   4013
411  Atatürk Cd. ( Rüya Evleri Sitesi )\nA2 Blok - ...   2985

In [6]:
train['label'].value_counts().head(10)

label
9359    3
344     2
1420    2
9894    2
1751    2
3230    2
8668    2
1770    2
8908    2
5739    2
Name: count, dtype: int64